* {
	box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 3em;
  background-color: #ffc7b9;
  color: #330a00;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
}

h1 {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

label {
  display: block;
  margin: 0.5rem 0.2rem;
  width: 100%;
  max-width: 100%;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #991e00;
  width: 94%;
  max-width: 94%;
}

fieldset:last-of-type {
  border: none;
}

input {
  display: block;
  background-color: #f1f1f1;
  padding: .5rem .3rem;
  border: 2px solid #ffa690;
  border-radius: 4px;
  width: 94%;
  max-width: 100%;
}

select {
  width: 94%;
  padding: .5rem .3rem;
  border: 2px solid #ffa690;
  border-radius: 4px;
  background-color: #f1f1f1;
}

textarea {
  width: 100%;
  padding: .5rem .3rem;
  box-sizing: border-box;
  border: 2px solid #ffa690;
  border-radius: 4px;
  background-color: #f1f1f1;
  max-width: 100%;
}

p {
  margin: 1em auto;
  text-align: left;
}

button {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  color: #330a00;
  background-color: #ffa088;
  border-color: #ffa690;
  min-width: 300px;
}

.inline {
  display: inline;
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.description {
  text-align: center;
}